n8n-workflows/k3s-workflow.json
{
  "name": "K3s",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        320
      ],
      "id": "1a405644-12ab-4694-8751-f49a8a08e5bb",
      "name": "Claude AI",
      "webhookId": "1651c43e-00aa-4841-b450-60e1604277a8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.text.replace('@claude ', '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -736,
        320
      ],
      "id": "8491fc93-2aa5-4c47-a0a1-bbed91f3d367",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "MsJOoUoULSXgQVIj",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.k3s.nu/hooks/cybd87dfgj8pzrxn6xm384tc8o",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        320
      ],
      "id": "9e668a73-8011-49b6-a0ff-6bfbd2715a05",
      "name": "Post Response to claude-ai"
    },
    {
      "parameters": {
        "url": "http://kube-prometheus-stack-prometheus.monitoring:9090/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "100 - (avg by (instance) (rate(node_cpu_seconds_total{mode=\"idle\"}[5m])) * 100)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -16
      ],
      "id": "fa495460-21b6-4269-a48f-282697f68845",
      "name": "Get K3s CPU usage"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cluster-status",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        96
      ],
      "id": "6e5708a3-c07f-4ac7-b47e-352a5c0a056a",
      "name": "WH Get K3s status",
      "webhookId": "3fe35051-9f43-4500-b737-874934f85b24"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        -112
      ],
      "id": "c4e7e3db-3f78-46af-8772-0de79373407e",
      "name": "Schedule Trigger K3s status"
    },
    {
      "parameters": {
        "url": "http://kube-prometheus-stack-prometheus.monitoring:9090/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "(1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) * 100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        -16
      ],
      "id": "1a40715d-34d6-4049-8af8-c4c8fda5e1d5",
      "name": "Get K3s memory usage"
    },
    {
      "parameters": {
        "url": "http://kube-prometheus-stack-alertmanager.monitoring:9093/api/v2/alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -16
      ],
      "id": "1c4b5457-f4cf-4686-a59c-066016134746",
      "name": "Get K3s active alerts"
    },
    {
      "parameters": {
        "url": "https://kubernetes.default.svc/api/v1/events?limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -192
      ],
      "id": "get-k3s-events-12345",
      "name": "Get K3s Events",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r74WNkELCiQMWtVh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cpuData = $('Get K3s CPU usage').first().json;\nconst memoryData = $('Get K3s memory usage').first().json;\nconst alertsData = $('Get K3s active alerts').first().json;\nconst eventsResponse = $('Get K3s Events').first().json;\n\nlet cpuInfo = \"CPU usage per node:\\n\";\nif (cpuData && cpuData.data && cpuData.data.result) {\n  cpuData.data.result.forEach(node => {\n    const instance = node.metric.instance.split(':')[0];\n    const usage = parseFloat(node.value[1]).toFixed(1);\n    cpuInfo += \"- \" + instance + \": \" + usage + \"%\\n\";\n  });\n} else {\n  cpuInfo += \"- Could not fetch CPU data\\n\";\n}\n\nlet memoryInfo = \"Memory usage per node:\\n\";\nif (memoryData && memoryData.data && memoryData.data.result) {\n  memoryData.data.result.forEach(node => {\n    const instance = node.metric.instance.split(':')[0];\n    const usage = parseFloat(node.value[1]).toFixed(1);\n    memoryInfo += \"- \" + instance + \": \" + usage + \"%\\n\";\n  });\n} else {\n  memoryInfo += \"- Could not fetch memory data\\n\";\n}\n\nlet alertsInfo = \"Active alerts:\\n\";\nif (Array.isArray(alertsData) && alertsData.length > 0) {\n  alertsData.forEach(alert => {\n    const name = alert.labels?.alertname || 'Unknown';\n    const severity = alert.labels?.severity || 'unknown';\n    const status = alert.status?.state || 'unknown';\n    alertsInfo += \"- [\" + severity.toUpperCase() + \"] \" + name + \" (\" + status + \")\\n\";\n  });\n} else {\n  alertsInfo += \"- No active alerts!\\n\";\n}\n\nlet eventsInfo = \"Recent Kubernetes Events (non-normal):\\n\";\nif (eventsResponse && eventsResponse.items && Array.isArray(eventsResponse.items)) {\n  const recentEvents = eventsResponse.items\n    .filter(e => e.type !== 'Normal' && e.lastTimestamp)\n    .sort((a, b) => new Date(b.lastTimestamp) - new Date(a.lastTimestamp))\n    .slice(0, 10);\n  \n  if (recentEvents.length > 0) {\n    recentEvents.forEach(event => {\n      const ns = event.metadata?.namespace || 'unknown';\n      const type = event.type || 'Unknown';\n      const reason = event.reason || 'Unknown';\n      const msg = (event.message || 'No message').substring(0, 100);\n      eventsInfo += \"- [\" + ns + \"] \" + type + \": \" + reason + \" - \" + msg + \"...\\n\";\n    });\n  } else {\n    eventsInfo += \"- No recent events\\n\";\n  }\n} else {\n  eventsInfo += \"- Could not fetch events (API may need RBAC permissions)\\n\";\n}\n\nconst report = \"K3s Cluster Status Report\\n==========================\\n\\n\" + cpuInfo + \"\\n\" + memoryInfo + \"\\n\" + alertsInfo + \"\\n\" + eventsInfo;\n\nreturn [{ json: { report: report } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ],
      "id": "2e196ad3-613b-42e3-9c7a-73d24ce4a978",
      "name": "Format data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du \u00e4r en DevOps-expert som \u00f6vervakar ett K3s Kubernetes-kluster. Analysera f\u00f6ljande statusrapport och ge en kort sammanfattning p\u00e5 svenska.\n\nVIKTIGT: Basera din analys ENBART p\u00e5 den aktuella datan nedan. Rapportera INTE problem fr\u00e5n tidigare rapporter om de inte syns i aktuell data. Om ett tidigare rapporterat problem inte l\u00e4ngre syns i datan, n\u00e4mn kort att det \u00e4r l\u00f6st.\n\nInkludera:\n1. \u00d6vergripande h\u00e4lsostatus (bra/varning/kritisk)\n2. Eventuella problem eller varningar som syns i AKTUELL data (CPU, minne, alerts OCH events)\n3. Prioritera kritiska events (CrashLoopBackOff, ImagePullBackOff, certifikat-varningar etc) - men BARA om de faktiskt finns i datan\n4. Om du minns tidigare problem som nu \u00e4r l\u00f6sta, n\u00e4mn kort att de \u00e5tg\u00e4rdats\n5. Rekommendationer om n\u00e5got beh\u00f6ver \u00e5tg\u00e4rdas\n\nH\u00e5ll svaret kort och koncist (max 10 rader).\n\n{{ $json.report }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "id": "6a61d6d9-ee02-49a9-927a-e30eacac2086",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        176,
        224
      ],
      "id": "e4ce4bbb-549c-48a7-b645-17f704ecc75b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "MsJOoUoULSXgQVIj",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "k3s-cluster-status-v2",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "35bfe9bc-a779-40f5-a7de-88389cfd1572",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.k3s.nu/hooks/n6ix6iani3ro8c7h17hm36xkze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=  {{ \"### \ud83d\udda5\ufe0f K3s Cluster Status\\n\\n\" + $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -16
      ],
      "id": "9ed430fa-a308-4922-b64a-1d3abbd76f29",
      "name": "Result to k3s-cluster"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertmanager",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -336
      ],
      "id": "651a0837-72d0-455c-ad84-c98ec5ea3234",
      "name": "Webhook K3s Alerts",
      "webhookId": "3de6fa26-9193-447b-ba84-1fa5b393bc1a"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nconst messages = [];\n\nfor (const alert of alerts) {\n  const status = alert.status === 'firing' ? '\ud83d\udd25 FIRING' : '\u2705 RESOLVED';\n  const severity = alert.labels?.severity || 'unknown';\n  const alertname = alert.labels?.alertname || 'Unknown Alert';\n  const description = alert.annotations?.description || alert.annotations?.summary || 'No description';\n  \n  const emoji = severity === 'critical' ? '\ud83d\udea8' : severity === 'warning' ? '\u26a0\ufe0f' : '\u2139\ufe0f';\n  \n  messages.push({\n    text: `### ${emoji} ${status}: ${alertname}\\n**Severity:** ${severity}\\n**Description:** ${description}`\n  });\n}\n\nreturn messages.length > 0 ? messages : [{ text: 'No alerts received' }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -336
      ],
      "id": "04af0898-9f6f-45a3-bc7c-55cbdfd3398c",
      "name": "Handle Alerts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.k3s.nu/hooks/6qstcuba9tdg5xpmhm4dfptfph",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        -336
      ],
      "id": "1a0568c2-47b7-4dde-9c7d-78ea480a1654",
      "name": "Post to k3s-alerts"
    },
    {
      "parameters": {
        "url": "https://192.168.50.75:6443/api/v1/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        576
      ],
      "id": "c23ccbbe-ece7-4461-8f1d-7b014f3ad546",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r74WNkELCiQMWtVh",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Claude AI": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Post Response to claude-ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH Get K3s status": {
      "main": [
        [
          {
            "node": "Get K3s CPU usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger K3s status": {
      "main": [
        [
          {
            "node": "Get K3s CPU usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get K3s CPU usage": {
      "main": [
        [
          {
            "node": "Get K3s memory usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get K3s memory usage": {
      "main": [
        [
          {
            "node": "Get K3s active alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get K3s active alerts": {
      "main": [
        [
          {
            "node": "Get K3s Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get K3s Events": {
      "main": [
        [
          {
            "node": "Format data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Format data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Result to k3s-cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook K3s Alerts": {
      "main": [
        [
          {
            "node": "Handle Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Alerts": {
      "main": [
        [
          {
            "node": "Post to k3s-alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
