n8n-workflows/vecko-energisammanfattning.json
{
  "name": "Vecko Energisammanfattning",
  "nodes": [
    {
      "id": "b2229331-fa70-48c8-90a5-72ca6f01c02f",
      "name": "Varje måndag kl 08:00",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 0,
              "weeksInterval": 1
            }
          ]
        }
      },
      "position": [
        784,
        -64
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "2d65121a-74eb-4ef5-8f42-b4f90970deeb",
      "name": "Hämta och analysera veckodata",
      "parameters": {
        "jsCode": "const baseUrl = 'http://openhab-production.openhab:8080/rest/persistence/items';\n\n// Beräkna tidsintervall för denna vecka och förra veckan\nconst now = new Date();\nconst thisWeekStart = new Date(now);\nthisWeekStart.setDate(thisWeekStart.getDate() - 7);\nconst lastWeekStart = new Date(thisWeekStart);\nlastWeekStart.setDate(lastWeekStart.getDate() - 7);\n\nconst thisWeekStartStr = thisWeekStart.toISOString().split('T')[0] + 'T00:00:00';\nconst thisWeekEndStr = now.toISOString().split('T')[0] + 'T00:00:00';\nconst lastWeekStartStr = lastWeekStart.toISOString().split('T')[0] + 'T00:00:00';\nconst lastWeekEndStr = thisWeekStartStr;\n\nconst items = [\n  'Currently_One_Currently_Used',\n  'Currently_One_Currently_Using',\n  'Currently_One_Currently_I1',\n  'Currently_One_Currently_I2',\n  'Currently_One_Currently_I3',\n  'Compressor_State_Value_as_Switch',\n  'Add_Heat_Status_Value_as_Number',\n  'Radiator_Forward_Value_as_Number',\n  'Outdoor_Temperature_Value_as_Number',\n  'Warm_Water_Temperature_Value_as_Number',\n  'HuddingeStation_IndoorTemperature'\n];\n\n// Hämta data för båda veckorna\nconst thisWeekData = {};\nconst lastWeekData = {};\n\nfor (const item of items) {\n  thisWeekData[item] = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${baseUrl}/${item}?starttime=${thisWeekStartStr}&endtime=${thisWeekEndStr}`,\n  });\n  lastWeekData[item] = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${baseUrl}/${item}?starttime=${lastWeekStartStr}&endtime=${lastWeekEndStr}`,\n  });\n}\n\n// --- HÄMTA SPOTPRISER FRÅN ELPRISET JUST NU (SE3) ---\nconst fetchSpotPrices = async (startDate, endDate) => {\n  let totalSek = 0;\n  let count = 0;\n  let minPrice = Infinity;\n  let maxPrice = -Infinity;\n  const d = new Date(startDate);\n  const end = new Date(endDate);\n  while (d < end) {\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const dd = String(d.getDate()).padStart(2, '0');\n    const url = `https://www.elprisetjustnu.se/api/v1/prices/${d.getFullYear()}/${mm}-${dd}_SE3.json`;\n    try {\n      const prices = await this.helpers.httpRequest({ method: 'GET', url });\n      for (const p of prices) {\n        const sek = p.SEK_per_kWh;\n        totalSek += sek;\n        count++;\n        if (sek < minPrice) minPrice = sek;\n        if (sek > maxPrice) maxPrice = sek;\n      }\n    } catch (e) { /* skip days without data */ }\n    d.setDate(d.getDate() + 1);\n  }\n  if (count === 0) return { avg: 'N/A', min: 'N/A', max: 'N/A' };\n  return {\n    avg: (totalSek / count).toFixed(2),\n    min: minPrice.toFixed(2),\n    max: maxPrice.toFixed(2)\n  };\n};\n\nconst thisWeekSpot = await fetchSpotPrices(thisWeekStart, now);\nconst lastWeekSpot = await fetchSpotPrices(lastWeekStart, thisWeekStart);\n\n// Beräkna energiförbrukning\nconst calcEnergyUsage = (data) => {\n  const d = data.data || [];\n  if (d.length < 2) return 0;\n  return parseFloat(d[d.length - 1]?.state || 0) - parseFloat(d[0]?.state || 0);\n};\n\nconst thisWeekUsage = calcEnergyUsage(thisWeekData['Currently_One_Currently_Used']).toFixed(1);\nconst lastWeekUsage = calcEnergyUsage(lastWeekData['Currently_One_Currently_Used']).toFixed(1);\nconst usageDiff = (thisWeekUsage - lastWeekUsage).toFixed(1);\nconst usageDiffPercent = lastWeekUsage > 0 ? ((usageDiff / lastWeekUsage) * 100).toFixed(0) : 0;\n\n// Beräkna elkostnad (spotpris exkl moms, lägg till 25% moms + nätavgift ~0.40 kr/kWh)\nconst calcCost = (usage, avgSpot) => {\n  if (avgSpot === 'N/A') return 'N/A';\n  const spotInklMoms = parseFloat(avgSpot) * 1.25;\n  const totalPerKwh = spotInklMoms + 0.40;\n  return (usage * totalPerKwh).toFixed(0);\n};\nconst thisWeekCost = calcCost(thisWeekUsage, thisWeekSpot.avg);\nconst lastWeekCost = calcCost(lastWeekUsage, lastWeekSpot.avg);\n\n// Beräkna toppeffekt per vecka\nconst calcPeakPower = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? Math.max(...values).toFixed(0) : 'N/A';\n};\n\nconst thisWeekPeakPower = calcPeakPower(thisWeekData['Currently_One_Currently_Using']);\nconst lastWeekPeakPower = calcPeakPower(lastWeekData['Currently_One_Currently_Using']);\n\n// Beräkna max ström per fas\nconst calcMaxCurrent = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? Math.max(...values).toFixed(1) : 'N/A';\n};\n\nconst thisWeekMaxI1 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I1']);\nconst thisWeekMaxI2 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I2']);\nconst thisWeekMaxI3 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I3']);\nconst lastWeekMaxI1 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I1']);\nconst lastWeekMaxI2 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I2']);\nconst lastWeekMaxI3 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I3']);\n\n// Beräkna medeltemperatur\nconst calcAvgTemp = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? (values.reduce((a, b) => a + b, 0) / values.length).toFixed(1) : 'N/A';\n};\n\nconst calcMinMaxTemp = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  if (values.length === 0) return { min: 'N/A', max: 'N/A' };\n  return { min: Math.min(...values).toFixed(1), max: Math.max(...values).toFixed(1) };\n};\n\nconst thisWeekAvgTemp = calcAvgTemp(thisWeekData['Outdoor_Temperature_Value_as_Number']);\nconst lastWeekAvgTemp = calcAvgTemp(lastWeekData['Outdoor_Temperature_Value_as_Number']);\nconst thisWeekTempRange = calcMinMaxTemp(thisWeekData['Outdoor_Temperature_Value_as_Number']);\nconst lastWeekTempRange = calcMinMaxTemp(lastWeekData['Outdoor_Temperature_Value_as_Number']);\n\nconst thisWeekAvgIndoor = calcAvgTemp(thisWeekData['HuddingeStation_IndoorTemperature']);\nconst lastWeekAvgIndoor = calcAvgTemp(lastWeekData['HuddingeStation_IndoorTemperature']);\nconst thisWeekIndoorRange = calcMinMaxTemp(thisWeekData['HuddingeStation_IndoorTemperature']);\nconst lastWeekIndoorRange = calcMinMaxTemp(lastWeekData['HuddingeStation_IndoorTemperature']);\n\nconst thisWeekAvgRadiator = calcAvgTemp(thisWeekData['Radiator_Forward_Value_as_Number']);\nconst lastWeekAvgRadiator = calcAvgTemp(lastWeekData['Radiator_Forward_Value_as_Number']);\n\n// Beräkna varmvattentemperatur (medel och max)\nconst thisWeekAvgHotWater = calcAvgTemp(thisWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst lastWeekAvgHotWater = calcAvgTemp(lastWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst thisWeekHotWaterRange = calcMinMaxTemp(thisWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst lastWeekHotWaterRange = calcMinMaxTemp(lastWeekData['Warm_Water_Temperature_Value_as_Number']);\n\n// Beräkna kompressortid\nconst calcCompressorHours = (data) => {\n  const d = data.data || [];\n  let minutes = 0;\n  for (let i = 1; i < d.length; i++) {\n    if (d[i].state === 'ON') {\n      minutes += (d[i].time - d[i-1].time) / 60000;\n    }\n  }\n  return (minutes / 60).toFixed(1);\n};\n\nconst thisWeekCompressorHours = calcCompressorHours(thisWeekData['Compressor_State_Value_as_Switch']);\nconst lastWeekCompressorHours = calcCompressorHours(lastWeekData['Compressor_State_Value_as_Switch']);\n\n// Beräkna tillskottsvärme\nconst calcAddHeatHours = (data) => {\n  const d = data.data || [];\n  let minutes = 0;\n  for (let i = 1; i < d.length; i++) {\n    if (parseFloat(d[i].state) > 0) {\n      minutes += (d[i].time - d[i-1].time) / 60000;\n    }\n  }\n  return (minutes / 60).toFixed(1);\n};\n\nconst thisWeekAddHeatHours = calcAddHeatHours(thisWeekData['Add_Heat_Status_Value_as_Number']);\nconst lastWeekAddHeatHours = calcAddHeatHours(lastWeekData['Add_Heat_Status_Value_as_Number']);\n\n// Beräkna daglig snittförbrukning\nconst thisWeekDailyAvg = (thisWeekUsage / 7).toFixed(1);\nconst lastWeekDailyAvg = (lastWeekUsage / 7).toFixed(1);\n\n// Beräkna kompressor procent av veckan\nconst thisWeekCompressorPercent = ((thisWeekCompressorHours / 168) * 100).toFixed(0);\nconst lastWeekCompressorPercent = ((lastWeekCompressorHours / 168) * 100).toFixed(0);\n\n// Beräkna veckonummer\nconst getWeekNumber = (d) => {\n  const date = new Date(d);\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.round(((date - week1) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n};\nconst thisWeekNum = getWeekNumber(thisWeekStart);\nconst lastWeekNum = getWeekNumber(lastWeekStart);\n\n// Uppskatta COP baserat på utomhustemp och framledningstemp\nconst estimateCOP = (outdoorAvg, radiatorAvg) => {\n  if (outdoorAvg === 'N/A' || radiatorAvg === 'N/A') return 'N/A';\n  const tOut = parseFloat(outdoorAvg);\n  const tFwd = parseFloat(radiatorAvg);\n  const tSource = tOut > 0 ? 2 + tOut * 0.3 : 2 + tOut * 0.15;\n  const carnot = (tFwd + 273.15) / ((tFwd + 273.15) - (tSource + 273.15));\n  const cop = carnot * 0.45;\n  return cop.toFixed(1);\n};\nconst thisWeekCOP = estimateCOP(thisWeekAvgTemp, thisWeekAvgRadiator);\nconst lastWeekCOP = estimateCOP(lastWeekAvgTemp, lastWeekAvgRadiator);\n\n// Bestäm säsong\nconst month = now.getMonth() + 1;\nlet season = 'vår';\nif (month >= 6 && month <= 8) season = 'sommar';\nelse if (month >= 9 && month <= 11) season = 'höst';\nelse if (month === 12 || month <= 2) season = 'vinter';\n\nconst report = `Veckosammanfattning Energi v${thisWeekNum} (${season})\n\n**DENNA VECKA v${thisWeekNum}** (${thisWeekStart.toLocaleDateString('sv-SE')} - ${now.toLocaleDateString('sv-SE')})\n- Total förbrukning: ${thisWeekUsage} kWh (snitt ${thisWeekDailyAvg} kWh/dag)\n- Uppskattad elkostnad: ${thisWeekCost} kr (spotpris snitt ${thisWeekSpot.avg} kr/kWh exkl moms)\n- Toppeffekt: ${thisWeekPeakPower} W\n- Max ström: L1=${thisWeekMaxI1}A, L2=${thisWeekMaxI2}A, L3=${thisWeekMaxI3}A\n- Utomhustemp: medel ${thisWeekAvgTemp}°C (min ${thisWeekTempRange.min}°C, max ${thisWeekTempRange.max}°C)\n- Inomhustemp: medel ${thisWeekAvgIndoor}°C (min ${thisWeekIndoorRange.min}°C, max ${thisWeekIndoorRange.max}°C)\n- Framledning radiator: medel ${thisWeekAvgRadiator}°C\n- Varmvatten: medel ${thisWeekAvgHotWater}°C (min ${thisWeekHotWaterRange.min}°C, max ${thisWeekHotWaterRange.max}°C)\n- Kompressor drifttid: ${thisWeekCompressorHours} timmar (${thisWeekCompressorPercent}% av veckan)\n- Tillskottsvärme: ${thisWeekAddHeatHours} timmar\n- Uppskattad COP: ${thisWeekCOP}\n\n**FÖRRA VECKAN v${lastWeekNum}** (${lastWeekStart.toLocaleDateString('sv-SE')} - ${thisWeekStart.toLocaleDateString('sv-SE')})\n- Total förbrukning: ${lastWeekUsage} kWh (snitt ${lastWeekDailyAvg} kWh/dag)\n- Uppskattad elkostnad: ${lastWeekCost} kr (spotpris snitt ${lastWeekSpot.avg} kr/kWh exkl moms)\n- Toppeffekt: ${lastWeekPeakPower} W\n- Max ström: L1=${lastWeekMaxI1}A, L2=${lastWeekMaxI2}A, L3=${lastWeekMaxI3}A\n- Utomhustemp: medel ${lastWeekAvgTemp}°C (min ${lastWeekTempRange.min}°C, max ${lastWeekTempRange.max}°C)\n- Inomhustemp: medel ${lastWeekAvgIndoor}°C (min ${lastWeekIndoorRange.min}°C, max ${lastWeekIndoorRange.max}°C)\n- Framledning radiator: medel ${lastWeekAvgRadiator}°C\n- Varmvatten: medel ${lastWeekAvgHotWater}°C (min ${lastWeekHotWaterRange.min}°C, max ${lastWeekHotWaterRange.max}°C)\n- Kompressor drifttid: ${lastWeekCompressorHours} timmar (${lastWeekCompressorPercent}% av veckan)\n- Tillskottsvärme: ${lastWeekAddHeatHours} timmar\n- Uppskattad COP: ${lastWeekCOP}\n\n**FÖRÄNDRING**\n- Energi: ${usageDiff > 0 ? '+' : ''}${usageDiff} kWh (${usageDiff > 0 ? '+' : ''}${usageDiffPercent}%)\n- Utomhustemp: ${(thisWeekAvgTemp - lastWeekAvgTemp).toFixed(1)}°C skillnad\n- Kompressor: ${(thisWeekCompressorHours - lastWeekCompressorHours).toFixed(1)} timmar skillnad\n- Tillskottsvärme: ${(thisWeekAddHeatHours - lastWeekAddHeatHours).toFixed(1)} timmar skillnad`;\n\nreturn [{ json: { report, thisWeekUsage, lastWeekUsage, usageDiffPercent, thisWeekPeakPower, thisWeekAvgTemp, lastWeekAvgTemp } }];"
      },
      "position": [
        1008,
        -64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "98059910-9ddd-4d97-908d-16ccaaccb65c",
      "name": "Posta till Mattermost",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "=text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://chat.k3s.nu/hooks/udnrzyh9q78hzfnxje5tjph3gw"
      },
      "position": [
        1584,
        -64
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d90980d2-aa10-4d7b-acdc-e5c66551bc1b",
      "name": "AI Agent",
      "parameters": {
        "options": {},
        "promptType": "define",
        "text": "=Du är en energiexpert som analyserar veckovis hushållsenergi för ett svenskt hem med bergvärmepump (IVT Premiumline HQ C8).\n\n**Din uppgift:**\nAnalysera veckosammanfattningen och ge en insiktsfull jämförelse mellan veckorna.\n\n**Fokusera på:**\n1. **Energitrend** - Ökade eller minskade förbrukningen? Är det rimligt?\n2. **Temperaturkorrelation** - Förklara förbrukningsändring med temperaturskillnad\n3. **Värmepumpens effektivitet** - Hur har kompressortiden förändrats?\n4. **Tillskottsvärme** - Har den ökat/minskat? Varför?\n5. **Inomhuskomfort** - Hålls temperaturen stabil? (mål: 21-23°C)\n6. **Fasbelastning** - Några toppar nära säkringsgränsen?\n7. **Prognos** - Vad kan förväntas kommande vecka?\n\n**Riktlinjer:**\n- Håll svaret koncist (max 200 ord)\n- Använd emojis för tydlighet (\ud83d\udcca\ud83d\udd0b\u26a1\ud83c\udf21\ufe0f\u2744\ufe0f\u2705\u26a0\ufe0f\ud83d\udcc8\ud83d\udcc9\ud83c\udfe0)\n- Formatera med markdown\n- Svara alltid på svenska\n- Ge konkreta rekommendationer om något kan förbättras\n\n**Referensvärden för detta hus:**\n- Normal vinterförbrukning: 700-1400 kWh/vecka beroende på temperatur\n- ~10% ökning/minskning per 2°C temperaturändring är normalt\n- Kompressor bör gå 50-90% av tiden vid kyla\n- Tillskottsvärme bör vara under 14 timmar/vecka normalt\n\n**VIKTIGA SYSTEMBEGRÄNSNINGAR:**\n- Borrhålet är endast 130m djupt (begränsar tillgänglig värmeenergi)\n- Systemet har problem med att ta ut mer effekt från kompressorn\n- FÖRESLÅ ALDRIG att höja värmekurvan - det förvärrar problemet\n- Fokusera istället på att sänka inomhustemperatur, optimera drifttider eller öka isolering\n\n**Värmekurva (framledningstemperatur vs utomhustemperatur):**\n- +5°C ute \u2192 ~35-38°C framledning\n- 0°C ute \u2192 ~38-42°C framledning\n- -5°C ute \u2192 ~45-48°C framledning\n- -10°C ute \u2192 ~50-55°C framledning\n\n**Fasbelastning:**\n- 20A tröga säkringar per fas (klarar upp till 36A kortvarigt)\n- Varning om någon fas överstiger 18A kontinuerligt\n- Kritiskt om någon fas överstiger 25A\n\n{{ $('Hämta och analysera veckodata').first().json.report }}"
      },
      "position": [
        1232,
        -64
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "anthropicApi": {
          "id": "MsJOoUoULSXgQVIj",
          "name": "Anthropic account"
        }
      },
      "id": "c82221a7-5678-4f5e-bdc7-2d0f60f9a485",
      "name": "Anthropic Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Claude Sonnet 4.5",
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929"
        },
        "options": {}
      },
      "position": [
        1240,
        160
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3
    },
    {
      "id": "39f6effa-c42b-4688-97e6-7c8e767b5ace",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "weekly-energy-analysis"
      },
      "position": [
        1368,
        160
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Posta till Mattermost",
            "type": "main"
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Hämta och analysera veckodata": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Varje måndag kl 08:00": {
      "main": [
        [
          {
            "index": 0,
            "node": "Hämta och analysera veckodata",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
