n8n-workflows/vecko-energisammanfattning.json
{
  "name": "Vecko Energisammanfattning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "b2229331-fa70-48c8-90a5-72ca6f01c02f",
      "name": "Varje måndag kl 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        784,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'http://openhab-production.openhab:8080/rest/persistence/items';\n\n// Beräkna tidsintervall för denna vecka och förra veckan\nconst now = new Date();\nconst thisWeekStart = new Date(now);\nthisWeekStart.setDate(thisWeekStart.getDate() - 7);\nconst lastWeekStart = new Date(thisWeekStart);\nlastWeekStart.setDate(lastWeekStart.getDate() - 7);\n\nconst thisWeekStartStr = thisWeekStart.toISOString().split('T')[0] + 'T00:00:00';\nconst thisWeekEndStr = now.toISOString().split('T')[0] + 'T00:00:00';\nconst lastWeekStartStr = lastWeekStart.toISOString().split('T')[0] + 'T00:00:00';\nconst lastWeekEndStr = thisWeekStartStr;\n\nconst items = [\n  'Currently_One_Currently_Used',\n  'Currently_One_Currently_Using',\n  'Currently_One_Currently_I1',\n  'Currently_One_Currently_I2',\n  'Currently_One_Currently_I3',\n  'Compressor_State_Value_as_Switch',\n  'Add_Heat_Status_Value_as_Number',\n  'Radiator_Forward_Value_as_Number',\n  'Outdoor_Temperature_Value_as_Number',\n  'Warm_Water_Temperature_Value_as_Number',\n  'HuddingeStation_IndoorTemperature'\n];\n\n// Hämta data för båda veckorna\nconst thisWeekData = {};\nconst lastWeekData = {};\n\nfor (const item of items) {\n  thisWeekData[item] = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${baseUrl}/${item}?starttime=${thisWeekStartStr}&endtime=${thisWeekEndStr}`,\n  });\n  lastWeekData[item] = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${baseUrl}/${item}?starttime=${lastWeekStartStr}&endtime=${lastWeekEndStr}`,\n  });\n}\n\n// --- HÄMTA SPOTPRISER FRÅN ELPRISET JUST NU (SE3) ---\nconst fetchSpotPrices = async (startDate, endDate) => {\n  let totalSek = 0;\n  let count = 0;\n  let minPrice = Infinity;\n  let maxPrice = -Infinity;\n  const d = new Date(startDate);\n  const end = new Date(endDate);\n  while (d < end) {\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const dd = String(d.getDate()).padStart(2, '0');\n    const url = `https://www.elprisetjustnu.se/api/v1/prices/${d.getFullYear()}/${mm}-${dd}_SE3.json`;\n    try {\n      const prices = await this.helpers.httpRequest({ method: 'GET', url });\n      for (const p of prices) {\n        const sek = p.SEK_per_kWh;\n        totalSek += sek;\n        count++;\n        if (sek < minPrice) minPrice = sek;\n        if (sek > maxPrice) maxPrice = sek;\n      }\n    } catch (e) { /* skip days without data */ }\n    d.setDate(d.getDate() + 1);\n  }\n  if (count === 0) return { avg: 'N/A', min: 'N/A', max: 'N/A' };\n  return {\n    avg: (totalSek / count).toFixed(2),\n    min: minPrice.toFixed(2),\n    max: maxPrice.toFixed(2)\n  };\n};\n\nconst thisWeekSpot = await fetchSpotPrices(thisWeekStart, now);\nconst lastWeekSpot = await fetchSpotPrices(lastWeekStart, thisWeekStart);\n\n// Beräkna energiförbrukning\nconst calcEnergyUsage = (data) => {\n  const d = data.data || [];\n  if (d.length < 2) return 0;\n  return parseFloat(d[d.length - 1]?.state || 0) - parseFloat(d[0]?.state || 0);\n};\n\nconst thisWeekUsage = calcEnergyUsage(thisWeekData['Currently_One_Currently_Used']).toFixed(1);\nconst lastWeekUsage = calcEnergyUsage(lastWeekData['Currently_One_Currently_Used']).toFixed(1);\nconst usageDiff = (thisWeekUsage - lastWeekUsage).toFixed(1);\nconst usageDiffPercent = lastWeekUsage > 0 ? ((usageDiff / lastWeekUsage) * 100).toFixed(0) : 0;\n\n// Beräkna elkostnad (spotpris exkl moms, lägg till 25% moms + nätavgift ~0.40 kr/kWh)\nconst calcCost = (usage, avgSpot) => {\n  if (avgSpot === 'N/A') return 'N/A';\n  const spotInklMoms = parseFloat(avgSpot) * 1.25;\n  const totalPerKwh = spotInklMoms + 0.40;\n  return (usage * totalPerKwh).toFixed(0);\n};\nconst thisWeekCost = calcCost(thisWeekUsage, thisWeekSpot.avg);\nconst lastWeekCost = calcCost(lastWeekUsage, lastWeekSpot.avg);\n\n// Beräkna toppeffekt per vecka\nconst calcPeakPower = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? Math.max(...values).toFixed(0) : 'N/A';\n};\n\nconst thisWeekPeakPower = calcPeakPower(thisWeekData['Currently_One_Currently_Using']);\nconst lastWeekPeakPower = calcPeakPower(lastWeekData['Currently_One_Currently_Using']);\n\n// Beräkna max ström per fas\nconst calcMaxCurrent = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? Math.max(...values).toFixed(1) : 'N/A';\n};\n\nconst thisWeekMaxI1 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I1']);\nconst thisWeekMaxI2 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I2']);\nconst thisWeekMaxI3 = calcMaxCurrent(thisWeekData['Currently_One_Currently_I3']);\nconst lastWeekMaxI1 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I1']);\nconst lastWeekMaxI2 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I2']);\nconst lastWeekMaxI3 = calcMaxCurrent(lastWeekData['Currently_One_Currently_I3']);\n\n// Beräkna medeltemperatur\nconst calcAvgTemp = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  return values.length ? (values.reduce((a, b) => a + b, 0) / values.length).toFixed(1) : 'N/A';\n};\n\nconst calcMinMaxTemp = (data) => {\n  const values = data.data?.map(d => parseFloat(d.state)).filter(v => !isNaN(v)) || [];\n  if (values.length === 0) return { min: 'N/A', max: 'N/A' };\n  return { min: Math.min(...values).toFixed(1), max: Math.max(...values).toFixed(1) };\n};\n\nconst thisWeekAvgTemp = calcAvgTemp(thisWeekData['Outdoor_Temperature_Value_as_Number']);\nconst lastWeekAvgTemp = calcAvgTemp(lastWeekData['Outdoor_Temperature_Value_as_Number']);\nconst thisWeekTempRange = calcMinMaxTemp(thisWeekData['Outdoor_Temperature_Value_as_Number']);\nconst lastWeekTempRange = calcMinMaxTemp(lastWeekData['Outdoor_Temperature_Value_as_Number']);\n\nconst thisWeekAvgIndoor = calcAvgTemp(thisWeekData['HuddingeStation_IndoorTemperature']);\nconst lastWeekAvgIndoor = calcAvgTemp(lastWeekData['HuddingeStation_IndoorTemperature']);\nconst thisWeekIndoorRange = calcMinMaxTemp(thisWeekData['HuddingeStation_IndoorTemperature']);\nconst lastWeekIndoorRange = calcMinMaxTemp(lastWeekData['HuddingeStation_IndoorTemperature']);\n\nconst thisWeekAvgRadiator = calcAvgTemp(thisWeekData['Radiator_Forward_Value_as_Number']);\nconst lastWeekAvgRadiator = calcAvgTemp(lastWeekData['Radiator_Forward_Value_as_Number']);\n\n// Beräkna varmvattentemperatur (medel och max)\nconst thisWeekAvgHotWater = calcAvgTemp(thisWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst lastWeekAvgHotWater = calcAvgTemp(lastWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst thisWeekHotWaterRange = calcMinMaxTemp(thisWeekData['Warm_Water_Temperature_Value_as_Number']);\nconst lastWeekHotWaterRange = calcMinMaxTemp(lastWeekData['Warm_Water_Temperature_Value_as_Number']);\n\n// Beräkna kompressortid\nconst calcCompressorHours = (data) => {\n  const d = data.data || [];\n  let minutes = 0;\n  for (let i = 1; i < d.length; i++) {\n    if (d[i].state === 'ON') {\n      minutes += (d[i].time - d[i-1].time) / 60000;\n    }\n  }\n  return (minutes / 60).toFixed(1);\n};\n\nconst thisWeekCompressorHours = calcCompressorHours(thisWeekData['Compressor_State_Value_as_Switch']);\nconst lastWeekCompressorHours = calcCompressorHours(lastWeekData['Compressor_State_Value_as_Switch']);\n\n// Beräkna tillskottsvärme\nconst calcAddHeatHours = (data) => {\n  const d = data.data || [];\n  let minutes = 0;\n  for (let i = 1; i < d.length; i++) {\n    if (parseFloat(d[i].state) > 0) {\n      minutes += (d[i].time - d[i-1].time) / 60000;\n    }\n  }\n  return (minutes / 60).toFixed(1);\n};\n\nconst thisWeekAddHeatHours = calcAddHeatHours(thisWeekData['Add_Heat_Status_Value_as_Number']);\nconst lastWeekAddHeatHours = calcAddHeatHours(lastWeekData['Add_Heat_Status_Value_as_Number']);\n\n// Beräkna daglig snittförbrukning\nconst thisWeekDailyAvg = (thisWeekUsage / 7).toFixed(1);\nconst lastWeekDailyAvg = (lastWeekUsage / 7).toFixed(1);\n\n// Beräkna kompressor procent av veckan\nconst thisWeekCompressorPercent = ((thisWeekCompressorHours / 168) * 100).toFixed(0);\nconst lastWeekCompressorPercent = ((lastWeekCompressorHours / 168) * 100).toFixed(0);\n\n// Beräkna veckonummer\nconst getWeekNumber = (d) => {\n  const date = new Date(d);\n  date.setHours(0, 0, 0, 0);\n  date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);\n  const week1 = new Date(date.getFullYear(), 0, 4);\n  return 1 + Math.round(((date - week1) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);\n};\nconst thisWeekNum = getWeekNumber(thisWeekStart);\nconst lastWeekNum = getWeekNumber(lastWeekStart);\n\n// Uppskatta COP baserat på utomhustemp och framledningstemp\nconst estimateCOP = (outdoorAvg, radiatorAvg) => {\n  if (outdoorAvg === 'N/A' || radiatorAvg === 'N/A') return 'N/A';\n  const tOut = parseFloat(outdoorAvg);\n  const tFwd = parseFloat(radiatorAvg);\n  const tSource = tOut > 0 ? 2 + tOut * 0.3 : 2 + tOut * 0.15;\n  const carnot = (tFwd + 273.15) / ((tFwd + 273.15) - (tSource + 273.15));\n  const cop = carnot * 0.45;\n  return cop.toFixed(1);\n};\nconst thisWeekCOP = estimateCOP(thisWeekAvgTemp, thisWeekAvgRadiator);\nconst lastWeekCOP = estimateCOP(lastWeekAvgTemp, lastWeekAvgRadiator);\n\n// Bestäm säsong\nconst month = now.getMonth() + 1;\nlet season = 'vår';\nif (month >= 6 && month <= 8) season = 'sommar';\nelse if (month >= 9 && month <= 11) season = 'höst';\nelse if (month === 12 || month <= 2) season = 'vinter';\n\nconst report = `# Veckoanalys Energi v.${thisWeekNum} (${season}) 📊\n\n**DENNA VECKA v.${thisWeekNum}** (${thisWeekStart.toLocaleDateString('sv-SE')} - ${now.toLocaleDateString('sv-SE')})\n- Total förbrukning: ${thisWeekUsage} kWh (snitt ${thisWeekDailyAvg} kWh/dag)\n- Uppskattad elkostnad: ${thisWeekCost} kr (snitt ${thisWeekSpot.avg} kr/kWh exkl moms, min ${thisWeekSpot.min}, max ${thisWeekSpot.max})\n- Toppeffekt: ${thisWeekPeakPower} W\n- Max ström: L1=${thisWeekMaxI1}A, L2=${thisWeekMaxI2}A, L3=${thisWeekMaxI3}A\n- Utomhustemp: medel ${thisWeekAvgTemp}°C (min ${thisWeekTempRange.min}°C, max ${thisWeekTempRange.max}°C)\n- Inomhustemp: medel ${thisWeekAvgIndoor}°C (min ${thisWeekIndoorRange.min}°C, max ${thisWeekIndoorRange.max}°C)\n- Framledning radiator: medel ${thisWeekAvgRadiator}°C\n- Varmvatten: medel ${thisWeekAvgHotWater}°C (min ${thisWeekHotWaterRange.min}°C, max ${thisWeekHotWaterRange.max}°C)\n- Kompressor drifttid: ${thisWeekCompressorHours}h (${thisWeekCompressorPercent}%)\n- Tillskottsvärme: ${thisWeekAddHeatHours}h\n- Uppskattad COP: ${thisWeekCOP}\n\n**FÖRRA VECKAN v.${lastWeekNum}** (${lastWeekStart.toLocaleDateString('sv-SE')} - ${thisWeekStart.toLocaleDateString('sv-SE')})\n- Total förbrukning: ${lastWeekUsage} kWh (snitt ${lastWeekDailyAvg} kWh/dag)\n- Uppskattad elkostnad: ${lastWeekCost} kr (snitt ${lastWeekSpot.avg} kr/kWh exkl moms)\n- Toppeffekt: ${lastWeekPeakPower} W\n- Max ström: L1=${lastWeekMaxI1}A, L2=${lastWeekMaxI2}A, L3=${lastWeekMaxI3}A\n- Utomhustemp: medel ${lastWeekAvgTemp}°C (min ${lastWeekTempRange.min}°C, max ${lastWeekTempRange.max}°C)\n- Inomhustemp: medel ${lastWeekAvgIndoor}°C (min ${lastWeekIndoorRange.min}°C, max ${lastWeekIndoorRange.max}°C)\n- Framledning radiator: medel ${lastWeekAvgRadiator}°C\n- Varmvatten: medel ${lastWeekAvgHotWater}°C (min ${lastWeekHotWaterRange.min}°C, max ${lastWeekHotWaterRange.max}°C)\n- Kompressor drifttid: ${lastWeekCompressorHours}h (${lastWeekCompressorPercent}%)\n- Tillskottsvärme: ${lastWeekAddHeatHours}h\n- Uppskattad COP: ${lastWeekCOP}\n\n**FÖRÄNDRING**\n- Energi: ${usageDiff > 0 ? '+' : ''}${usageDiff} kWh (${usageDiff > 0 ? '+' : ''}${usageDiffPercent}%)\n- Kostnad: ${thisWeekCost !== 'N/A' && lastWeekCost !== 'N/A' ? (thisWeekCost - lastWeekCost > 0 ? '+' : '') + (thisWeekCost - lastWeekCost) + ' kr' : 'N/A'}\n- Utomhustemp: ${(thisWeekAvgTemp - lastWeekAvgTemp).toFixed(1)}°C skillnad\n- Kompressor: ${(thisWeekCompressorHours - lastWeekCompressorHours).toFixed(1)}h skillnad\n- Tillskottsvärme: ${(thisWeekAddHeatHours - lastWeekAddHeatHours).toFixed(1)}h skillnad\n- COP: ${thisWeekCOP !== 'N/A' && lastWeekCOP !== 'N/A' ? (thisWeekCOP - lastWeekCOP).toFixed(1) : 'N/A'} skillnad`;\n\nreturn [{ json: { report, thisWeekUsage, lastWeekUsage, usageDiffPercent, thisWeekPeakPower, thisWeekAvgTemp, lastWeekAvgTemp, thisWeekCost, lastWeekCost, thisWeekCOP, lastWeekCOP, season } }];"
      },
      "id": "2d65121a-74eb-4ef5-8f42-b4f90970deeb",
      "name": "Hämta och analysera veckodata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.k3s.nu/hooks/udnrzyh9q78hzfnxje5tjph3gw",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "98059910-9ddd-4d97-908d-16ccaaccb65c",
      "name": "Posta till Mattermost",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        -64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du är en energiexpert som analyserar veckovis hushållsenergi för ett svenskt hem med bergvärmepump (IVT Premiumline HQ C8).\n\n**Din uppgift:**\nAnalysera veckosammanfattningen och ge en insiktsfull jämförelse mellan veckorna. Börja alltid med en tydlig rubrik med veckonummer.\n\n**Fokusera på:**\n1. **Energitrend & kostnad** - Ökade/minskade förbrukning och kostnad? Rimligt givet elpris och temperatur?\n2. **Temperaturkorrelation** - Förklara förbrukningsändring med temperaturskillnad\n3. **Värmepumpens effektivitet (COP)** - Kommentera uppskattad COP och hur den förändrats. Högre COP = bättre.\n4. **Kompressor** - Hög kompressortid på vintern är NORMALT och BRA för en BVP. Det betyder att värmepumpen jobbar effektivt. Varna INTE för hög kompressortid vintertid. Varna bara om kompressorn går <30% på vintern (kan tyda på fel).\n5. **Tillskottsvärme** - Har den ökat/minskat? Tillskottsvärme är dyrt och bör minimeras.\n6. **Varmvatten** - Kommentera medeltemperatur. Normal drifttemp ~45°C. Kontrollera att maxtemp når ~51°C periodiskt (legionellaskydd). Varna om max aldrig når 50°C.\n7. **Inomhuskomfort** - Hålls temperaturen stabil? (mål: 20-22°C)\n8. **Fasbelastning** - Några toppar nära säkringsgränsen?\n9. **Prognos** - Vad kan förväntas kommande vecka?\n\n**Riktlinjer:**\n- Håll svaret koncist (max 250 ord)\n- Använd emojis för tydlighet (📊🔋⚡🌡️❄️✅⚠️📈📉🏠💰🚿)\n- Formatera med markdown\n- Svara alltid på svenska\n- Ge konkreta rekommendationer om något kan förbättras\n- Anpassa analysen efter säsong (data innehåller säsongsinfo)\n\n**Säsongsanpassade referensvärden:**\n- Vinter (dec-feb): 700-1400 kWh/vecka, kompressor 70-95% är normalt\n- Vår/höst (mar-maj, sep-nov): 300-700 kWh/vecka, kompressor 30-70%\n- Sommar (jun-aug): 100-300 kWh/vecka, kompressor 10-30% (mest varmvatten)\n- ~10% ökning/minskning per 2°C temperaturändring är normalt\n- Tillskottsvärme bör vara under 14h/vecka normalt, under 5h vår/höst, 0h sommar\n\n**VIKTIGA SYSTEMBEGRÄNSNINGAR:**\n- Borrhålet är endast 130m djupt (begränsar tillgänglig värmeenergi)\n- FÖRESLÅ ALDRIG att höja värmekurvan - det förvärrar problemet med borrhålet\n- Fokusera istället på att sänka inomhustemperatur, optimera drifttider eller öka isolering\n\n**Värmekurva efter byte av expansionsventil (framledning vs utomhustemp):**\n- +20°C ute → 19°C framledning\n- +15°C ute → 24°C framledning\n- +10°C ute → 29°C framledning\n- +5°C ute → 33°C framledning\n- 0°C ute → 37°C framledning\n- -5°C ute → 42.1°C framledning\n- -10°C ute → 48°C framledning\n- -15°C ute → 53.9°C framledning\n- -20°C ute → 60°C framledning\n\n**Fasbelastning:**\n- 20A tröga säkringar per fas (klarar upp till 36A kortvarigt)\n- Varning om någon fas överstiger 18A kontinuerligt\n- Kritiskt om någon fas överstiger 25A\n\n{{ $('Hämta och analysera veckodata').first().json.report }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1232,
        -64
      ],
      "id": "d90980d2-aa10-4d7b-acdc-e5c66551bc1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1240,
        160
      ],
      "id": "c82221a7-5678-4f5e-bdc7-2d0f60f9a485",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "MsJOoUoULSXgQVIj",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "weekly-energy-analysis",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1368,
        160
      ],
      "id": "39f6effa-c42b-4688-97e6-7c8e767b5ace",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Varje måndag kl 08:00": {
      "main": [
        [
          {
            "node": "Hämta och analysera veckodata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hämta och analysera veckodata": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Posta till Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "",
  "tags": [
    {
      "name": "Home Automation"
    }
  ]
}
