ai-remediator/workflows/rollout_restart_deployment.json
{
  "id": "aiRemRolloutRst1",
  "name": "rollout_restart_deployment",
  "nodes": [
    {
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "namespace"
            },
            {
              "name": "name"
            },
            {
              "name": "reason"
            }
          ]
        }
      }
    },
    {
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "const RE = /^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$/;\nfunction bad(s){ return !s || typeof s !== \"string\" || !RE.test(s); }\nconst i = $input.first().json;\nconst allow = ($env.REMEDIATOR_NAMESPACES || \"\").split(\",\").map(s => s.trim()).filter(Boolean);\nfunction refuse(detail){ return [{json: {blocked: true, ok: false, detail}}]; }\nif (String($env.REMEDIATOR_ENABLED) !== \"true\") return refuse(\"disabled by operator (REMEDIATOR_ENABLED != true)\");\nif (bad(i.namespace)) return refuse(\"invalid or missing namespace\");\nif (!allow.includes(i.namespace)) return refuse(`namespace '${i.namespace}' is outside REMEDIATOR_NAMESPACES allow-list`);\nif (!i.reason || String(i.reason).trim().length < 5) return refuse(\"a meaningful 'reason' is required\");\nif (bad(i.name)) return refuse(\"invalid or missing name\");\nreturn [{json: {url: `https://kubernetes.default.svc/apis/apps/v1/namespaces/${i.namespace}/deployments/${i.name}`,\n  body: {spec: {template: {metadata: {annotations: {\"kubectl.kubernetes.io/restartedAt\": new Date().toISOString()}}}}}, reason: i.reason}}];"
      }
    },
    {
      "id": "guard-ok",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http",
      "name": "K8s WRITE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/merge-patch+json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "aiRemediatorK8s1",
          "name": "K8s ai-remediator"
        }
      }
    },
    {
      "id": "result",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -100
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.blocked) return [{json: {ok: false, tool: \"rollout_restart_deployment\", detail: r.detail}}];\nconst ok = r.statusCode < 400;\nconsole.log(JSON.stringify({audit: \"rollout_restart_deployment\", ts: new Date().toISOString(), status: r.statusCode, ok}));\nreturn [{json: {ok, tool: \"rollout_restart_deployment\", status: r.statusCode,\n  detail: ok ? \"executed\" : `K8s API ${r.statusCode}: ${JSON.stringify(r.body?.message || r.body).slice(0,300)}`}}];"
      }
    },
    {
      "id": "refused",
      "name": "Refused",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{json: {ok: false, detail: r.detail}}];"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "K8s WRITE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "K8s WRITE": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}