ai-remediator/workflows/rollout_restart_deployment.json
{
  "id": "aiRemRolloutRst1",
  "name": "rollout_restart_deployment",
  "nodes": [
    {
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "namespace"
            },
            {
              "name": "name"
            },
            {
              "name": "reason"
            },
            {
              "name": "fingerprint"
            }
          ]
        }
      }
    },
    {
      "id": "guard",
      "name": "Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "const RE = /^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$/;\nfunction bad(s){ return !s || typeof s !== \"string\" || !RE.test(s); }\nconst i = $input.first().json;\nconst allow = ($env.REMEDIATOR_NAMESPACES || \"\").split(\",\").map(s => s.trim()).filter(Boolean);\nfunction refuse(detail){ return [{json: {blocked: true, ok: false, detail}}]; }\nif (String($env.REMEDIATOR_ENABLED) !== \"true\") return refuse(\"disabled by operator (REMEDIATOR_ENABLED != true)\");\nif (bad(i.namespace)) return refuse(\"invalid or missing namespace\");\nif (!allow.includes(i.namespace)) return refuse(`namespace '${i.namespace}' is outside REMEDIATOR_NAMESPACES allow-list`);\nif (!i.reason || String(i.reason).trim().length < 5) return refuse(\"a meaningful 'reason' is required\");\nif (bad(i.name)) return refuse(\"invalid or missing name\");\nreturn [{json: {url: `https://kubernetes.default.svc/apis/apps/v1/namespaces/${i.namespace}/deployments/${i.name}`,\n  body: {spec: {template: {metadata: {annotations: {\"kubectl.kubernetes.io/restartedAt\": new Date().toISOString()}}}}},\n  reason: i.reason, target: `deployment/${i.name} i ns/${i.namespace}`}}];"
      }
    },
    {
      "id": "guard-ok",
      "name": "Guard OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !$json.blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ask-approval",
      "name": "Ask Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -100
      ],
      "parameters": {
        "jsCode": "const g = $('Guard').first().json;\nconst i = $('When Executed by Another Workflow').first().json;\nconst resume = $execution.resumeUrl;\nconst text = [\n  \"⚠️ **AI-remediator begär godkännande**\",\n  \"**Åtgärd:** rollout_restart_deployment \" + (\"`\" + g.target + \"`\"),\n  \"**Motivering:** \" + (g.reason || \"-\"),\n  (i.fingerprint ? \"**Alert-fingerprint:** \" + i.fingerprint : \"\"),\n  \"\",\n  \"✅ **Godkänn:** \" + resume + \"&approve=yes\",\n  \"❌ **Neka:** \" + resume + \"&approve=no\",\n  \"_Timeout 15 min = neka._\"\n].filter(Boolean).join(\"\\n\");\nreturn [{json: {text, __spec: g}}];"
      }
    },
    {
      "id": "post-approval",
      "name": "Post approval request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://chat.k3s.nu/hooks/n6ix6iani3ro8c7h17hm36xkze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text: $json.text}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "wait",
      "name": "Wait for approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        -100
      ],
      "webhookId": "apprvolloutRst1",
      "parameters": {
        "resume": "webhook",
        "httpMethod": "GET",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      }
    },
    {
      "id": "check-approval",
      "name": "Check approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -100
      ],
      "parameters": {
        "jsCode": "const resumed = $input.first().json;\nconst q = resumed.query || {};\nconst approved = q.approve === \"yes\";\nconst g = $('Guard').first().json;\nif (!approved) return [{json: {blocked: true, ok: false, approved: false,\n  detail: q.approve === \"no\" ? \"denied by operator\" : \"approval timed out (15 min) - treated as deny\"}}];\nreturn [{json: {...g, approved: true}}];"
      }
    },
    {
      "id": "approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approved === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http-write",
      "name": "K8s WRITE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/merge-patch+json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "aiRemediatorK8s1",
          "name": "K8s ai-remediator"
        }
      }
    },
    {
      "id": "result",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -100
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (r.blocked) return [{json: {ok: false, tool: \"rollout_restart_deployment\", detail: r.detail}}];\nconst ok = r.statusCode < 400;\nconsole.log(JSON.stringify({audit: \"rollout_restart_deployment\", ts: new Date().toISOString(), status: r.statusCode, ok}));\nreturn [{json: {ok, tool: \"rollout_restart_deployment\", status: r.statusCode,\n  detail: ok ? \"executed (approved by operator)\" : `K8s API ${r.statusCode}: ${JSON.stringify(r.body?.message || r.body).slice(0,300)}`}}];"
      }
    },
    {
      "id": "refused",
      "name": "Refused",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        150
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{json: {ok: false, detail: r.detail}}];"
      }
    },
    {
      "id": "denied",
      "name": "Denied",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        60
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{json: {ok: false, detail: r.detail}}];"
      }
    },
    {
      "id": "rate-gate",
      "name": "Rate gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        500,
        -250
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aiRemRateGate001",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tool": "rollout_restart_deployment",
            "target": "={{ $json.target }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool",
              "displayName": "tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "target",
              "displayName": "target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "rate-ok",
      "name": "Rate OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        -250
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.allowed === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "rate-refused",
      "name": "RateRefused",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -350
      ],
      "parameters": {
        "jsCode": "return [{json: {ok: false, detail: $input.first().json.detail || \"rate limited\"}}];"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Guard OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard OK?": {
      "main": [
        [
          {
            "node": "Rate gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Approval": {
      "main": [
        [
          {
            "node": "Post approval request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post approval request": {
      "main": [
        [
          {
            "node": "Wait for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for approval": {
      "main": [
        [
          {
            "node": "Check approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "K8s WRITE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "K8s WRITE": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate gate": {
      "main": [
        [
          {
            "node": "Rate OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate OK?": {
      "main": [
        [
          {
            "node": "Ask Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RateRefused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "aiRemErrorWf0001"
  },
  "active": true
}